# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Cut line': 'cut-line:cut-line'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cut line'
      'submenu': [
        { 'label': 'Cut line', 'command': 'cut-line:cut-line' }
      ]
    ]
  }
]
