# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.pane.active .editor':
  'cmd-x': 'cut-line:cut-line'
  'cmd-c': 'cut-line:copy-line'

# Active panel
# .pane.active > .item-views > .editor > .scroll-view > .overlayer

# Find in file input
# .editor-container > .editor.mini.is-focused

# Fuzzy file opener
# .select-list.fuzzy-finder > .editor.mini
